services:
  course_review_database:
    image: "postgres:17"
    ports:
      - "5432:5432"
    restart: always
    environment:
      POSTGRES_DB: cr_db
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_USER: cr_user
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "cr_user", "-d", "cr_db"]
      interval: 10s
      retries: 5
    volumes:
      - course_review_database:/var/lib/postgresql/data

  course_review_api:
    profiles:
      - backend
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cr_api
    ports:
      - "8080:3000" # external : internal
    environment:
      DB_URL: postgres://cr_user:mysecretpassword@course_review_database:5432/cr_db
      DISCORD_WEBHOOK_URL: ${DISCORD_WEBHOOK_URL}
      VITE_JWT_PUBLIC_KEY: ${JWT_PUBLIC_KEY}
    depends_on:
      course_review_database:
        condition: service_healthy

volumes:
  course_review_database:
