name: Build and Deploy the Course Review Backend

on:
  push:
    branches: [ main ]
    paths:
      - 'server/**'

jobs:
  build-and-publish-container:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Log in to the Container registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@60a0d343a0d8a18aedee9d34e62251f752153bdb
        with:
          images: ghcr.io/course-review/backend

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@5cd11c3a4ced054e52742c5fd54dca954e0edd85
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v1
        with:
          subject-name: ghcr.io/course-review/backend
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true

  send-request-to-watchtower:
    needs: build-and-publish-container
    runs-on: ubuntu-latest
    steps:
      - name: Send request
        uses: satak/webrequest-action@master
        with:
          url: ${{ secrets.WATCHTOWER_URL }}
          method: GET
          headers: '{"Authorization": "Bearer ${{ secrets.WATCHTOWER_TOKEN }}"}'
